@font-face {
    font-family: 'JetBrains Mono NL';
    src: url("fonts/JetBrainsMonoNL-Regular.ttf");
}

#root,
.app {
    min-height: 100% !important;
    height: 100% !important;
}

.app {
    display: flex !important;
    flex-direction: column;
    margin: 0 !important;
}

.app-content {
    margin-top: 7em;
    flex-grow: 1;
}