$background-dark: #181a1b;
$background: lighten($background-dark, 5%);
$background-lighter: lighten($background-dark, 5%);
$background-light: lighten($background, 10%);

$text-light: #ffffff;
$text: darken($text-light, 5%);

$theme-color: #169EF3;

html, body {
    background-color: lighten(#181a1b, 5%) !important;
    color: darken(#FFFFFF, 5%) !important;
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6,
.ui.header {
    color: $text-light !important;
}

// ======[ Selected text ]====== //
::selection {
    background-color: $theme-color !important;
    color: $text-light !important;
}

// ======[ Label ]====== //
.ui.label {
    background-color: $background-light !important;
    color: $text !important;
    margin: .14285714em .14285714em !important;
}

// ======[ Card ]====== //
.ui.card {
    background-color: $background-lighter !important;
    box-shadow: 0 1px 3px 0 #3e3e3e, 0 0 0 1px #5b5b5b !important;
    overflow: hidden !important;
    .content {
        .header {
            color: $text-light !important;
        }
        .description {
            color: $text !important;
        }
    }
    .extra.content {
        border-top: 1px solid rgba(255,255,255,.1) !important;
    }
}

// ======[ Blockquote ]====== //
blockquote {
    border: 0 solid transparent;
    border-radius: 5px;
    background-color: #333333;
    margin: auto;
    padding: 25px;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        float: left;
        width: 5px;
        height: 2000px;
        background-color: #ff9933;
    }
}
